<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>VEHICLE LIST</h1>

    <ul>
        <% for(let park of parks){ %>
            <li><a href="/parks/<%= park._id %>"><%= park.name %></a></li>
            <%}  %>
    </ul>
    <a href="/parks/index">Add cars</a>
   
</body>
</html>